---
import '@/styles/globals.css'
import CosmeticSaloon from "@/templates/cosmetic-saloon"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>Astro</title>
  </head>
  <body>
    <video
      src="/video.mp4"
      loop
      autoplay
      muted
      playsinline
      class="h-[100vh] w-full object-cover opacity-90"
    ></video>
    <CosmeticSaloon client:only="react" />
  </body>
</html>
